@import url("../../css/stylesheet.css");

html, body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	background-color: rgb(232, 221, 205);
	background: url("../../img/Aback_img1.jpg") fixed center center
		no-repeat;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	position: relative;
}

body, td, th {
	color: #006;
}

::-webkit-scrollbar {
	/*垂直滚动条的宽和高*/
	width: 0px;
	height: 1px;
}

::-webkit-scrollbar-crack-piece {
	/*修改滚动条的背景和圆角*/
	background: #abcdef;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	background-color: #faa;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color: #faa;
	-webkit-border-radius: 6px;
}

.bb {
	top: 0px;
	padding: 0px;
	width: auto;
	height: 1080px;
	top: 0px;
}

.bb h2 {/*添加书籍的h2祟}*/
	border: 1px solid red;
	width: 300px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-bottom:10px;
	margin-top:80px;
	margin-left: 20%;
}
.bb h2 font{
	color:red;
	font-size:15px;
	margin-left:10px;
}
.bb hr { /*水平线*/
	border: 1px dashed red;
	margin-left: 20%;
	width:78%;
}
/*添加书籍开始*/
.bookAdd {
	width: 76%;
	height: 48%;
	margin-left: 20%;
	margin-right: 2%;
	overflow-y: scroll;
	margin-top: 0px;
	
}
.bookAdd p{
	height:auto;
	margin:0px auto;
	padding:5px 0px 5px 0px;
	margin-left:25%;
	vertical-align:middle;
}

.bookAdd p input,textarea,select{
	margin-left:30px;
	vertical-align:middle;
	font-size:17px;
}

.bookAdd .book_s {
	width: auto;
	text-align:left;
}

.bookAdd .book_s input { /*提交按钮样式*/
	width: 100px;
	height: 29px;
	margin-top: 0px;
	font-size: 18px;
	border: 1px solid blue;
	border-radius: 10px;
	background-image: url(../../img/buttonB.jpg);
	background-repeat: no-repeat;
	cursor:pointer;
}

