@CHARSET "UTF-8";

@import url("../../css/stylesheet.css");

html, body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	background-color: rgb(232, 221, 205);
	background: url("../../img/Aback_img1.jpg") fixed center center
		no-repeat;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	position: relative;
}

body, td, th {
	color: #006;
}

::-webkit-scrollbar {
	/*垂直滚动条的宽和高*/
	width: 0px;
	height: 1px;
}

::-webkit-scrollbar-track-piece {
	/*修改滚动条的背景和圆角*/
	background: #abcdef;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	background-color: #faa;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color: #faa;
	-webkit-border-radius: 6px;
}

.bb {
	top: 0px;
	padding: 0px;
	width: auto;
	height: 1080px;
	font-family: "kaiTi";
}

.bklist {
	width: 76%;
	height: 65%;
	margin-left: 20%;
	margin-right: 2%;
	margin-top: 80px;
	font-size:20px;
}

.bklist hr{
	margin-top:7px;
	margin-bottom:7px;
}
.bklist .addBKL,.modBKL,.searBKL{
	text-align:center;
}

.addBKL h2{
	width:200px;
	border:1px solid red;
	margin-bottom:0px;
}
.addBKL p,form{
	font-size:17px;
}

.addBKL p{
	
}

.addBKL form{
	
}

.bklist .modBKL{
	
}

.modBKL h2{
	width:200px;
	border:1px solid red;
	margin-bottom:0px;
	margin-top:0px;
}

.modBKL p,form{
	font-size:17px;
}

.bklist .searBKL{/*显示图书分类方框*/
	height:60%;
	overflow-y: scroll;
}

.searBKL p{
	
}

.searBKL h2{
	width:200px;
	border:1px solid red;
	margin-bottom:0px;
	margin-top:0px;
}

.searBKL table{
	text-align:center;
	margin:15px auto;
	border:1px solid black;
}
.searBKL table td{
	padding:3px auto;
	font-size:17px;
	height:700px;
}
.searBKL table .bkO{/*第一列*/
	width:auto;
}
.searBKL table .bkT{/*第二列*/
	width:180px;
}