@CHARSET "UTF-8";

html, body {
	margin: 0px;
	padding: 0px;
	color: white;
	overflow: hidden;
	background: rgba(0, 32, 99, 0.6);
	font-size: 20px;
}

a {
	text-decoration: none;
	color: white;
}

ul li {
	list-style-type: none;
}

body {
	background-color: rgb(232, 221, 205);
	background: url("../../img/Aback_img1.jpg") fixed center center
		no-repeat;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	position: relative;
}

body, td, th {
	color: #006;
}

::-webkit-scrollbar {
	/*垂直滚动条的宽和高*/
	width: 0px;
	height: 1px;
}

::-webkit-scrollbar-track-piece {
	/*修改滚动条的背景和圆角*/
	background: #abcdef;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	background-color: #faa;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color: #faa;
	-webkit-border-radius: 6px;
}

.bb {
	top: 0px;
	padding: 0px;
	width: auto;
	height: 1080px;
	top: 0px;
}
/*注册信息开始*/
.bb h3 {
	border: 1px solid red;
	width: 270px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin:70px 0px auto;
	margin-left: 20%;
}
.bb h3 font{
	font-size:17px;
	color:red;
}
.bb hr { /*注册信息下的一条水平线*/
	border: 1px dashed red;
	margin-bottom: 8px;
	margin-top: 8px;
	width:75%;
	margin-left: 20%;
}
.hyAdd {
	width: 76%;
	height: 60%;
	margin-left: 20%;
	margin-right: 2%;
	overflow: scroll;
	font-weight: bold;

}

.hyAdd form {
	height: 80%;
	margin-top: 0px;
}

.hyAdd form p {
	width: 80%;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	vertical-align: middle;
	margin-left: 20%;
}

.hyAdd form img {
	width: 27px;
	height: 27px;
	margin-left: 30px;
	vertical-align: middle;
}

.hyAdd form input { /*所有文本框的选项*/
	width: 200px;
	height: 20px;
	margin-left: 100px;
	vertical-align: middle;
}

.hyAdd .ad_rig {
	height: 80px;
	width: 100%;
	overflow: hidden;
}

.ad_rig .l_wrap { /*左边的操作权限*/
	width: 180px;
	height: 80px;
	line-height: 80px;
	float: left;
	margin-left: 20%;
	margin-right: 30px;
}

.ad_rig .wrap { /*右边的*/
	width: auto;
	height: 80px;
	margin-top: 20px;
	float: left;
	overflow: hidden;
}

.ad_rig .wrap input { /*右边的*/
	width: 70px;
	height: 40px;
	overflow: hidden;
}

.A_right {
	display: none;
	margin-top: 10px;
}

.A_right+label {
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05);
	padding: 9px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	margin-right: 30px;
}

.A_right+label:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px
		rgba(0, 0, 0, 0.1);
}

.A_right:checked+label {
	background-color: #ECF2F7;
	border: 1px solid #92A1AC;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #243441;
	margin-bottom: 20px;
}

.A_right:checked+label:after {
	content: '\2714';
	position: absolute;
	top: 0px;
	left: 0px;
	color: #758794;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	padding: 1px 0 0 0;
	vertical-align: text-top;
}

.hyAdd .admin_s {
	text-align: left;
	width: auto;
	height:40px;
}

.hyAdd .admin_s input { /*提交按钮样式*/
	width: 150px;
	height: 30px;
	margin-top: 0px;
	font-size: 20px;
	border: 1px solid blue;
	border-radius: 10px;
	background-image: url(../../img/buttonB.jpg);
	background-repeat: no-repeat;
}