@CHARSET "UTF-8";
@import url("../../css/stylesheet.css");
html, body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	background-color: rgb(232, 221, 205);
	background: url("../../img/Aback_img1.jpg") fixed center center
		no-repeat;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	position: relative;
}

body, td, th {
	color: #006;
}

::-webkit-scrollbar {
	/*垂直滚动条的宽和高*/
	width: 0px;
	height: 1px;
}

::-webkit-scrollbar-track-piece {
	/*修改滚动条的背景和圆角*/
	background: #abcdef;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	background-color: #faa;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color: #faa;
	-webkit-border-radius: 6px;
}

.lsd{
	top: 0px;
	padding: 0px;
	width: auto;
	height: 1080px;
	top: 0px;
}
.tsxx a{
	margin-left:19%;
}
.tsxx a:hover{
	font-weight:bold;
	color:red;
}
.lsd .lsdTJ{/*缺书单查询条件*/
	
}
.lsdTJ {
	width: 100%;
	height: 65px;
	overflow: hidden;
}

.lsdTJ form {
	
}

.lsdTJ form h3 {
	height:auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

.lsdTJ form p {
	width: 100%;
	line-height: 35px;
	font-size: 18px;
	color: black;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	overflow: hidden;
	vertical-align:center;
}

.lsdTJ form  input {
	margin-left: 3px;
	margin-right: 10px;
	width: 140px;
	vertical-align:center;
}

.lsdTJ .lq_s {/*查询按钮*/
	width: 100px;
	height: 25px;
	border: 1px solid blue;
	font-size:19px;
	margin-left:100px;
	border-radius: 5px;
	background-image: url(../../img/buttonB.jpg);
	background-repeat: no-repeat;
}

/*查询条件结束*/

.lsd .lsdM{/*缺书单查询结果显示*/
	width: 76%;
	height: 880px;
	margin-left: 20%;
	margin-right: 2%;
	overflow: hidden;
	margin-top: 70px;
	font-size:19px;
}

.lsdM p {
	/*消息中心四个字样式*/
	width: auto;
	line-height: 40px;
	font-size: 22px;
	color: red;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
}

.lsdM hr{
	margin-top:0px;
	margin-bottom:5px;
	width:100%;
}

.lsdM .lsdInfo {/*领书单信息开始*/
	height: 470px;
	width: 100%;
	
	margin-left: 1%;
	overflow-y: scroll;
	margin-top:10px;
}

.lsdM .lsdInfo table{
	width:99%;
	text-align:center;
	border:1px solid red;
	word-break: break-all;
	word-wrap: break-word;
	
}

.lsdM .lsdInfo table td{
	padding-top:3px;
	padding-bottom:3px;
}

.lsdM .lsdInfo table a{
	color:black;
	font-weight:bold;
}
.lsdM .lsdInfo table a:hover{
	color:red;
}