@CHARSET "UTF-8";
@import url("../../css/stylesheet.css");
html, body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	background-color: rgb(232, 221, 205);
	background: url("../../img/Aback_img1.jpg") fixed center center
		no-repeat;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	position: relative;
}

body, td, th {
	color: #006;
}

::-webkit-scrollbar {
	/*垂直滚动条的宽和高*/
	width: 0px;
	height: 1px;
}

::-webkit-scrollbar-track-piece {
	/*修改滚动条的背景和圆角*/
	background: #abcdef;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	background-color: #faa;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color: #faa;
	-webkit-border-radius: 6px;
}

.bord {
	width: auto;
	height: 916px;
	margin: 0px;
	padding: 0px;
	margin-left: 300px;
	margin-top: 70px;
}

.bord p {
	/*消息中心四个字样式*/
	width: auto;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	color: red;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
}
.bord hr{
	margin-top:3px;
	margin-bottom:3px;
	width:96%;
}
.bord .searor { /*查询条件区域*/
	height: 98px;
	width: auto;
	line-height: 28px;
	margin-left: 1%;
	overflow: hidden;
}

.bord .searor p {
	height: 45px;
	width: 1200px;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.bord .searor p input {
	height: 25px;
	width: 250px;
	font-size: 16px;
}

.bord .searor .group { /*查询条件四个单选*/
	width: 1300px;
	height: 40px;
	text-align: left;
	margin-top: 10px;
	font-size: 20px;
}

.bord .searor .group input {
	margin-right: 15px;
	margin-top: 5px;
}

.bord .searor .group label { /*select下拉框*/
	margin-left: 15px;
	margin-top: 5px;
	color:red;
	font-weight:bold;
}

.bord .searor .group select { /*select下拉框*/
	margin-left: 15px;
	margin-top: 5px;
	font-size: 18px;
}

.bord .searor .sub {
	margin-left: 130px;
	width: 120px;
	height: 30px;
	font-size: 18px;
}

.bord .orRes {
	width: 96%;
	height: 680px;
	margin-left: 1%;
	overflow-y: scroll;
	overflow-x: scroll;
}

.bord .orRes table {
	width: 100%;
	text-align: center;
}

.bord .orRes table th {
	text-align: center;
	height: 30px;
}

.bord .orRes table th a {
	/*每个消息盒子中的更多消息*/
	font-weight: bold;
	color: red;
}

.bord .orRes table td {
	height: 40px;
}

.bord .orRes table .orZ { /*表格第一列*/
	width: 9%;
}
.bord .orRes table  a{
	color:black;
}
.bord .orRes table  a:hover{
	color:green;
	font-size:19px;
}
.bord .orRes table .orO { /*表格第二列*/
	width: 9%;
}

.bord .orRes table .orT { /*表格第三列*/
	width: 9%;
}

.bord .orRes table .orTh { /*表格第四列*/
	width: 9%;
}

.bord .orRes table .orF { /*表格第五列*/
	width: 9%;
}

.bord .orRes table .orFi { /*表格第六列*/
	width: 9%;
}

.bord .orRes table .orS { /*表格第七列*/
	width: 9%;
}

.bord .orRes table .orSe { /*表格第八列*/
	width: 9%;
}

.bord .orRes table .orE { /*表格第九列*/
	width: 7%;
}

.bord .orRes table .orN { /*表格第十列*/
	width: 7%;
}

.bord .orRes table .orT { /*表格第十一列*/
	width: 7%;
}

.bord .orRes table .orEl { /*表格第十二列*/
	width: 4%;
}

.bord .orRes table .orTw { /*表格第十三列*/
	width: 4%;
}