@CHARSET "UTF-8";
@import url("../../css/stylesheet.css");
html, body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	background-color: rgb(232, 221, 205);
	background: url("../../img/Aback_img1.jpg") fixed center center
		no-repeat;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	position: relative;
}

body, td, th {
	color: #006;
}

::-webkit-scrollbar {
	/*垂直滚动条的宽和高*/
	width: 0px;
	height: 1px;
}

::-webkit-scrollbar-track-piece {
	/*修改滚动条的背景和圆角*/
	background: #abcdef;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	background-color: #faa;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color: #faa;
	-webkit-border-radius: 6px;
}

.sto {
	top: 0px;
	padding: 0px;
	width: auto;
	height: 1080px;
	top: 0px;
}


.sto hr{
	margin-top:3px;
	margin-bottom:3px;
}

.sto .rkDetail{
	width: 76%;
	height: 880px;
	margin-left: 20%;
	margin-right: 2%;
	overflow: hidden;
	margin-top: 70px;
	font-size:19px;
}

.sto .rkDd {/*入库表结果显示*/
	width: 100%;
	height: 520px;
	margin-left: 0px;
	overflow-y: scroll;
	margin-top: 0px;
	font-size:19px;
}

.sto .rkDd .bookPic{/*书籍图片div*/
	float:right;
	margin-top:100px;
	width:130px;
	height:190px;
	border:1px solid black;
}
.sto .rkDd p{
	height:auto;
	margin:0px;
	vertical-align:middle;
	margin-left:5%;
}
.sto .rkDd p input{
	margin-top:5px;
	margin-bottom:5px;
	vertical-align:middle;
	height:18px;
	margin-left:30px;
	margin-right:10px;
}
.sto .rkDd p textarea{
	margin-left:30px;
	margin-top:5px;
	margin-bottom:5px;
	vertical-align:middle;
}
.sto .rkDd p font{
	margin-left:30px;
	margin-top:7px;
	margin-bottom:7px;
}
.sto .tsxx {
	/*消息中心四个字样式*/
	width: auto;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	color: red;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
}